body {
  background-color: #111111;
  max-width: 1000px;
  margin: 100px auto;
  padding: 60px;
}



h1 {
  color: pink;
}

img {
  width: 100%;
}

.header {
  margin: 40px;
  padding: 60px;
  border: 2px solid black;
  background-color: purple;
  text-align: center;
}

.portfolio-item {
  margin: 40px;
  padding: 60px;
  border: 2px solid black;
  background-color: grey;
}
